/*

  Author: Robby Bergers

  This is the default SASS file used to style the BADMedia webpage, used to
  style elements common to every BADMedia subpage

*/

/*
  Variables
*/

// Colors
$primary-color: #182842; //#2f6cce;
$primary-dark: #0c1522; //#132035; //#2656a5;
$primary-dark-fade1: #2e3b4d;
$primary-dark-fade2: #383c43;
$primary-darker: #262626; //#091425;
$primary-highlight: #aac3eb;
$primary-highestlight: #e5ecf9;
$background-color: #2d2d2d;

// Breakpoints
$phone:"only screen and (min-width: 200px)";
$tablet:"only screen and (min-width: 768px)";
$desktop:"only screen and (min-width: 1200px)";

// Fonts
$default-font: Courier New;
$nav-font: Helvetica;
$font-title: 2em;
$font-subtitle: 1.5em;
$font-primary: 1.2em;
$font-normal: 1em;
$font-content: 0.9em;
$font-small: 0.8em;

/*
  Styles
*/

#body {
  background-color: $background-color;
}

#homebutton {
  position: fixed;
  left: 1em;
  z-index: 4;
  @media #{$phone} {
    top: 0.1em;
    height: $font-title;
    max-height: $font-title;
    width: auto;
    max-width: auto;
  }
  @media #{$tablet} {
    top: 0.2em;
    height: #{$font-title + 1em};
    max-height: #{$font-title + 1em};
  }
}

#nav {
  position: fixed;
  display: inline-block;
  top: 0;
  right: 0;
  margin: 0;
  height: 0;
  opacity: 0;
  z-index: 3;
  background-color: $primary-darker;
  transition: 175ms;
  @media #{$phone} {
    width: 100vw;
  }
  @media #{$desktop} {
    width: 20vw;
  }
}

#navbutton {
  position: fixed;
  right: 1em;
  z-index: 4;
  font-family: Arial;
  font-size: $font-title;
  &:focus {
    outline: 0;
  }
  @media #{$phone} {
    margin: 0;
    margin-top: 0.1em;
    background: none;
    border: 0;
    color: white;
    padding: 0;
    float: right;
  }
  @media #{$tablet} {
    margin-top: 0.2em;
  }
  @media #{$desktop} {
    &:hover {
      color: $primary-highlight;
    }
  }
}

#home {

}

#audio {
  
}
